.wrapper {
  margin: 0 20px 0 20px;
}

.ml-20 {
  margin-left: 20px;
}

.teal-text {
  color: #1edbed;
}

.teal-bg {
  background-color: #159ba6;
}

.purple-bg {
  background-color: #211621;
}

.royalblue-bg {
  /* background-color: #031a6b; */
  background-color: #101E40;
}

.light-grey-bg {
  background-color: #e5e3eb;
}

/* Calus Colors */
.calus-purple-bg {
  background-color: #461044;
}

.calus-purple-text {
  color: #461044;
}

.calus-platinum-bg {
  background-color: #e6e6e6;
}

.calus-platinum-text {
  color: #e6e6e6;
}

.calus-platinum-tint-bg {
  background-color: #f2f2f2;
}

.calus-gold-bg {
  background-color: #dbb979;
}

.calus-gold-text {
  color: #dbb979;
}

.calus-tan-bg {
  background-color: #ffdb8d;
}

.calus-tan-text {
  color: #ffdb8d;
}

.btn-calus-purple {
  background-color: #461044;
  color: #dbb979;
}

.calus-purple-text-hover:hover {
  color: #461044;
}

.btn-calus-purple:hover {
  background-color: #dbb979;
  color: #461044;
  box-shadow: inset 0 1px 1px rgba(70, 16, 68, 0.2), 0 0 8px rgba(219, 185, 121, 1);
}

button.btn-calus-purple:focus {
  background-color: #dbb979;
  color: #461044;
  border: 1px solid #461044;
  box-shadow: inset 0 1px 1px rgba(219, 185, 121, 1), 0 0 8px rgba(70, 16, 68, 1);
}

.btn:focus {
  border-color: #dbb979;
  box-shadow: inset 0 1px 1px rgba(70, 16, 68, 0.2), 0 0 8px rgba(219, 185, 121, 1);
}

a.dom-link {
  text-decoration: none;
}