.carousel {
    margin: 0 auto;
    /* width: 66%; */
}

.image-slide {
    width: 100%;
}

.slide-arrow {
	color: #159ba6;
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
	bottom: 40%;
}

.fixed-arrow:hover, .slide-arrow:hover {
    transition: .5s ease;
    text-shadow: 1px 1px 15px #dbb979, 0 0 25px #ffdb8d, 0 0 5px #f2f2f2;
    font-size: 2.5rem;
}

.fixed-arrow {
    color: #159ba6;
	cursor: pointer;
	font-size: 2rem;
	position: fixed !important;
	top: 50% !important;
}

.project-slide-name {
    opacity: 0;
    font-size: 1rem;
}

.fixed-arrow:hover .project-slide-name {
    transition: .5s ease;
    font-size: 1.5rem;
    opacity: 1;
}

.slide-arrow.right, .fixed-arrow.right {
	right: 1rem;
}

.slide-arrow.left, .fixed-arrow.left {
	left: 1rem;
}

.sharp-shadow {
    box-shadow: 4px 4px 4px #2d1d2d;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .carousel {
        width: 100%;
    }
} 