.spacer {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ptb-100 {
    padding: 100px 0 100px 0;
}

.icon-list {
    list-style: none;
    display: block;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.about-me li {
    /* float: left; */
    padding: 1rem;
    position: relative;
    display: block;
}

.icons {
    margin-left: auto;
    margin-right: auto;
}

i.calus-purple-text:hover {
    color: #dbb979
}